<div class="modal fade" id="addUserStoryModal" tabindex="-1" aria-labelledby="addUserStoryModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addUserStoryModalLabel">Add User Story</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form th:action="@{/user-stories}" method="post">
                    <div class="mb-3">
                        <label for="userStoryId" class="form-label">User Story ID</label>
                        <input type="text" class="form-control" id="userStoryId" name="id" required>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <textarea class="form-control" id="description" name="description" rows="3" required></textarea>
                    </div>
                    <input type="hidden" th:name="sessionId" th:value="${planingSession.id}"/>
                    <button type="submit" class="btn btn-primary">Create</button>
                </form>
            </div>
        </div>
    </div>
</div>
