<div class="col-lg-9">
    <div class="card mb-4">
        <div class="card-header">
            <h4>User Stories</h4>
        </div>
        <div class="card-body user-stories-card" th:each="userStory : ${planingSession.userStories}">
            <table class="table mb-0 rounded-top">
                <thead>
                <tr>
                    <th class="col-3">User Story ID</th>
                    <th class="col-5">Description</th>
                    <th class="col-2">Status</th>
                    <th class="col-2">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td th:text="${userStory.id}">User Story ID</td>
                    <td th:text="${userStory.description}">User Story Description</td>
                    <td th:text="${userStory.status}"
                        th:class="${userStory.status.name() == 'PENDING' ? '' : (userStory.status.name() == 'VOTED' ? 'text-success' : 'text-warning')}">
                        User Story Status
                    </td>
                    <td>
                        <div th:if="${userStory.status.name() == 'PENDING'}">
                            <form th:action="@{/user-stories/{id}(id=${userStory.id})}" th:method="put">
                                <input type="hidden" name="sessionId" th:value="${planingSession.id}"/>
                                <button class="btn btn-primary btn-sm mb-1">Start</button>
                            </form>
                        </div>
                        <form th:action="@{/user-stories/{id}(id=${userStory.id})}" th:method="delete">
                            <input type="hidden" name="sessionId" th:value="${planingSession.id}"/>
                            <button class="btn btn-danger btn-sm">Remove</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>

            <div th:replace="fragments/vote/vote-card"></div>
            <div th:replace="fragments/vote/vote-result-card"></div>
        </div>
    </div>
</div>