<footer class="footer mt-auto">
    <hr>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h4>About Us</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum diam eu arcu placerat, vitae
                    elementum mauris vestibulum. Aliquam dignissim ligula a orci finibus, vel placerat felis
                    fringilla.</p>
            </div>
            <div class="col-md-3">
                <h4>Quick Links</h4>
                <ul class="list-unstyled">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h4>Contact Info</h4>
                <p>Dnipro, Ukraine</p>
                <p>sergendorfin@gmail.com</p>
                <p>Phone: +38 (095) 616 28 31</p>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col text-center">
                <p>&copy; 2023 Entry point task. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>