<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta th:replace="fragments/common/head">
    <title>Create Session</title>
</head>
<body>
<header th:replace="fragments/common/header"></header>
<main class="content  mb-5">
    <div class="container text-center mt-5">
        <h1>Main page. Statistics, management tools and so on...</h1>
        <a href="sessions/create" class="btn btn-primary mt-3">Create New Session</a>
    </div>
</main>
<footer th:insert="fragments/common/footer"></footer>
</body>
</html>
