html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #f8f9fa;
}

.content {
    flex: 1 0 auto;
}

.login-container {
    max-width: 400px;
    margin: 100px auto 0;
}

.footer {
    flex-shrink: 0;
    background-color: #eeeded;
}

.rounded-top {
    border-radius: 10px 10px 0 0;
    overflow: hidden;
}

.rounded-bottom {
    border-radius: 0 0 10px 10px;
    overflow: hidden;
}

.user-stories-card {
    background-color: #eeeded;
}
